@import "../../../App.scss";

.field {
    width: 120px;
    padding: 4px 8px;
    border-right: solid 1px $grey-lightest;
    margin: 0 !important;
}

.field:last-child {
    border: unset;
}
.field:first-child {
    width: 50px;
}

.descripcion {
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categoria {
    width: 150px;
}

.debito {
    font-weight: bold;
    color: darken($red, 20%);
}

.credito {
    font-weight: bold;
    color: darken($green, 20%);
}
.row {
    display: flex;
    padding: 0 20px;
    text-align: right;
}

.row:nth-child(2n) {
    background-color: $primary-light;
}
